{% extends 'base.html' %}
{% block title_block %}User Info Page{% endblock %}
{% block content_block %}
    <div id="container" style="margin: 60px;">
        {% load static %}
        <div style="float: left">
            <form id="form" method="post" action="">
                {% csrf_token %}
                <p style="font-size: 25px;padding-bottom: 20px;">
                    Initial password: {{ form.password }}
                </p>
                 <p style="font-size: 25px;padding-bottom: 20px;">
                    New password: {{ form.password1 }}
                </p>
                 <input id="submit" type="submit" >
            </form>

        </div>

    </div><br><br>
    <hr style="border: 10px solid;background-color: lightgray;height: 2px;margin-top: 50px;">
{% endblock %}
