{% extends 'base.html' %}
{% block title_block %}User Star List{% endblock %}
{% block content_block %}
    <div id="container" style="margin: 10px 15px 15px 15px;padding: 15px;">
    {% if comment_list %}
         <p style="font-weight: bold;font-size: 30px;padding-bottom: 20px;">
         Your comment history shows below:
        <table   height="200px" cellspacing="100px" >
        <thead>
                <tr>
                <th>VideoTitle     </th>
                <th>Content    </th>
                <th>Createtime    </th>
                </tr>
        </thead>
        <tbody>
                {% for comment in comment_list %}
                <tr>

                        <td> <a href="/video_detail/{{ comment.video.id }}/" style="color: blue">{{ comment.video.title }}.......&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.content }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>{{ comment.create_time }}</td>
                </tr>
                {% endfor %}
        </tbody>
        </table>
        {% else %}
         <p style="font-weight: bold;font-size: 30px;padding-bottom: 20px;">
                   You haven't commented any videos yet, <a href="{% url 'vlog:home' %}" style="color:blue">Go to pick a  video </a>
         </p>
    {% endif %}
    </div>
{% endblock %}
{% block script_block %}
{% endblock %}