{% extends 'base.html' %}
{% block title_block %}User Info Page{% endblock %}
{% block content_block %}
    <div id="container" style="margin: 60px;">
        {% load static %}
        <img src="{% static 'images/user.png' %}"
             style="font-size: 200px; color: white;background-color: lightgray;float: left;margin-right: 90px;"
             alt="user-image"/>
        <div style="float: left">
            <form id="form" method="post" action="/update_user/">
                {% csrf_token %}
                <!-- todo: Replace the value in the following p label with the corresponding value in user. -->
                <p style="font-weight: bold;font-size: 30px;padding-bottom: 20px;">
                    USERNAME: {{ user.username }}
                </p>
                <p style="font-size: 25px;padding-bottom: 20px;">
                    User Introduction: {{ user_profile.description }}
                </p>
                <p style="font-size: 25px;padding-bottom: 20px;">
                    Date of Birth:
                    {{ user_profile.dob }}
                </p>
                <p style="font-size: 25px;padding-bottom: 20px;">
                    Email: {{ user.email }}
                </p>
                <input id="submit" type="submit" hidden>
                <p style="font-size: 15px;padding-bottom: 20px;">
                 <a href="{% url 'vlog:user_info_edit' %}" style="color: green;text-decoration: underline;">Edit My information</a></li>
                </p>
                 <p style="font-size: 15px;padding-bottom: 20px;">
                 <a href="{% url 'vlog:change_password' %}" style="color: green;text-decoration: underline;">Change Password</a></li>
           </p>
            </form>
        </div>
    </div><br><br>
    <hr style="border: 10px solid;background-color: lightgray;height: 2px;margin-top: 50px;">
    <div id="container" style="margin: 50px;">
        <div style="float: left">
                <p style="font-weight: bold;font-size: 30px;padding-bottom: 20px;">
                    <a  href="{% url 'vlog:user_star' %}" style="color: blue;"
                   >My Favourite Videos</a>
                </p>
                <p style="font-weight: bold;font-size: 30px;padding-bottom: 20px;">
                    <a  href="{% url 'vlog:user_comment' %}" style="color: blue;"
                   >My Comment History</a>
                </p>
        </div>

    </div><br><br>
{% endblock %}

