{% extends 'base_admin.html' %}
{% block title_block %}Video Add Page{% endblock %}
{% block content_block %}
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>ADD NEW VIDEO</legend>
    </fieldset>

    <form class="layui-form" action="/add_video/" lay-filter="example">
        {% csrf_token %}
        <div class="layui-form-item">
            <label class="layui-form-label">Title</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="Please enter a title"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Classify</label>
            <div class="layui-input-block">
                <input type="text" name="classify" placeholder="Please enter a classify" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Introduction</label>
            <div class="layui-input-block">
                <input type="text" name="introduction" placeholder="Please enter a introduction" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Date</label>
            <div class="layui-input-inline">
                <input type="text" name="date" class="layui-input" id="test1-1" placeholder="yyyy-MM-dd">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Video</label>
            <div class="layui-input-block">
                <input type="file" title="File" name="video" placeholder="Please select a video file" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block script_block %}
    <script>
        layui.use(['laydate', 'upload'], function () {
            var laydate = layui.laydate, upload = layui.upload;
            //国际版
            laydate.render({
                elem: '#test1-1'
                , lang: 'en'
            });
        })
    </script>
{% endblock %}
