{% extends 'base.html' %}
{% block title_block %}Video Detail Page{% endblock %}
{% block content_block %}
    <div id="container" style="margin: 5px 15px 15px 15px;padding: 15px;">
        <div style="width: 1060px; height: 500px;float: left;margin: 10px 10px 20px 10px;text-align: left">
            <!-- todo: Replace src to video_obj.url -->
            {% for video in video %}
            <video src="{{video.file.url}}"
                   style="width: 100%;height: 100%;border-radius: 5px;transform: none;" controls></video>
            {% load static %}
            <div style="float: right;width: 85px;height: 35px;margin: 5px;">
            {% if is_star %}
                 <a href="{% url 'vlog:video_destar' video.id %}">
                 <img src="{% static 'images/liked.png' %}" id="like" style="width: 35px;height: 35px;float: left;"
                     alt="liked-icon">

            {% else %}
                <a href="{% url 'vlog:video_star' video.id %}">
                <img src="{% static 'images/like.png' %}" id="like" style="width: 35px;height: 35px;float: left;"
                     alt="liked-icon">

            {% endif %}
                <p style="margin: 12px;font-size: 15px;font-weight: bold;">{{ video.likes.count }}</p>
            </div>
            <p style="font-weight: bold;font-size: 20px;margin: 5px;">{{ video.title }}</p>
            <p style="font-size: 16px;color: gray;margin: 5px;">The video release date:{{ video.release_date }}
                </p>
            <p style="font-size: 16px;color: black;margin: 5px;">{{ video.description }}1234</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{#{% block script_block %}#}
{#    <script>#}
{#        $(function () {#}
{#            let imgDom = $('#like');#}
{#            imgDom.click(function () {#}
{#                if (imgDom[0].src.search('liked') !== -1) {#}
{#                    imgDom.attr('src', `{% static 'images/like.png' %}`);#}
{#                } else {#}
{#                    imgDom.attr('src', `{% static 'images/liked.png' %}`);#}
{#                }#}
{#                // todo: Update the number of likes of this video, and then return to the corresponding value of refresh.#}
{#                // ....#}
{#            });#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}