{% extends 'base.html' %}
{% block title_block %}Video Search list Result Page{% endblock %}
{% block content_block %}
    <div id="container" style="margin: 10px 15px 15px 15px;padding: 15px;">
    {% if video_list %}
        {% for video in video_list %}
            <div style=";">
                <div style="width: 550px;float:left;height: 300px;margin: 10px 80px 20px 10px;">
                    <a style="" href="/video_detail/{{ video.id }}/">
                    <img src="/media/{{ video.picture }} "alt="Picture of Video"
                           style="width: 100%;height: 100%;border-radius: 5px;border: solid"></img>
                    </a>
                </div>
                <div style="padding-top: 20px;">
                    <p style="font-weight: bold">{{ video.title }}</p><br>
                    <p>release date: {{ video.release_date }}</p><br>
                    <p>views:{{ video.views }}</p><br>
                    <p>likes:{{ video.likes.count }}</p><br>
                    <p>{{ video.description }}</p>
                </div>
                <hr style="background: lightgray;border: 2px solid;height: 2px;">
            </div>
        {% endfor %}
    {% else %}
         <p style="font-weight: bold;font-size: 30px;padding-bottom: 20px;">
                   Sorry, we couldn't find any related videos
         </p>
    {% endif %}
    </div>
{% endblock %}
{% block script_block %}
{% endblock %}