{% extends 'base_admin.html' %}
{% block title_block %}Video Manage Page{% endblock %}
{% block content_block %}
    <div class="input-div">
        <div class="layui-form-item" style="margin-left: 60px;">
            <div class="layui-inline" style="margin: 20px;">
                <div class="layui-input-inline" style="width: 400px;">
                    <input id="id_or_title" type="text" name="number" lay-verify="required|number" autocomplete="off"
                           placeholder="Enter ID or title"
                           class="layui-input" style="background: #f8f5f5;float: left;">
                </div>
                <button id="search-bt" type="button" class="layui-btn layui-btn-normal">SEARCH</button>
                <button id="add-bt" type="button" class="layui-btn" style="margin-left: 350px;">+ ADD NEW VIDEO</button>
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <!-- th为表格标题栏-->
                    <th>ID</th>
                    <th>photo</th>
                    <th>title</th>
                    <th>url</th>
                    <th>classify</th>
                    <th>introduction</th>
                    <th>date</th>
                    <th>operate</th>
                </tr>
                {% for video_obj in video_objs %}
                    <form id="form{{ forloop.counter }}" action="/update_video/" method="post" hidden>
                        {% csrf_token %}
                        <input name="id" value="{{ video_obj.id }}" hidden>
                        <input name="photo" value="{{ video_obj.photo }}" hidden>
                        <input name="title" value="{{ video_obj.title }}" hidden>
                        <input name="url" value="{{ video_obj.url }}" hidden>
                        <input name="classify" value="{{ video_obj.classify }}" hidden>
                        <input name="introduction" value="{{ video_obj.introduction }}" hidden>
                        <input name="date" value="{{ video_obj.date }}" hidden>
                    </form>
                    <tr>
                        <td>{{ video_obj.id }}</td>
                        {% load static %}
                        <td><img src="{% static video_obj.photo %}" style="width: 200px;height: 100px;" alt=""></td>
                        <td>{{ video_obj.title }}</td>
                        <td>{{ video_obj.url }}</td>
                        <td>{{ video_obj.classify }}</td>
                        <td>{{ video_obj.introduction }}</td>
                        <td>{{ video_obj.date }}</td>
                        <td>
                            <div class="operate-div">
                                <div class="edit"><a href="#" onclick="editVideoInfo('form' + {{ forloop.counter }})">Edit</a>
                                </div>
                                <div class="delete"><a href="#" onclick="deleteVideo({{ video_obj.id }})">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8" style="font-size: 20px;color: gray;">There is no data here.</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block script_block %}
    <script>
        function editVideoInfo(formId) {
            document.getElementById(formId).submit();
        }

        function deleteVideo(id) {
            window.location.href = `/delete_video/${id}/`;
        }

        $(function () {
            $('#search-bt').click(function () {
                let id_or_title = $('#id_or_title').val();
                if (id_or_title.trim() === '') return alert('input empty!');
                else {
                    $(window).attr('location', `/video_manage/${id_or_title}/`);
                }
            });
            $('#add-bt').click(function () {
                $(window).attr('location', `/video_add/`);
            });
        });
    </script>
    <style>
        /*表格样式*/
        table {
            width: 90%;
            background: #ccc;
            margin: 10px auto;
            border-collapse: collapse; /*border-collapse:collapse合并内外边距(去除表格单元格默认的2个像素内外边距*/
            border-radius: 5px;
        }

        th, td {
            height: 35px;
            line-height: 25px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        th {
            background: #eee;
            font-weight: normal;
        }

        tr {
            background: #fff;
        }

        tr:hover {
            background: lightgray;
        }

        td a {
            color: #06f;
            text-decoration: none;
            color: white;
        }

        td a:hover {
            color: #06f;
            text-decoration: underline;
        }

        .operate-div {
            width: 110px;
            text-align: center;
            alignment: center;
            margin-left: 10px;
            margin-right: -52px;
        }

        .edit {
            background: #009688;
            width: 50px;
            height: 25px;
            float: left;
            text-align: center;
        }

        .delete {
            background: #FF5722;
            width: 50px;
            height: 25px;
            text-align: center;
            float: right;
        }
    </style>
{% endblock %}